<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CursWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    	<servlet-name>ProvaServlet</servlet-name>
    	<servlet-class>es.caib.CursWeb.ProvaServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 	    <servlet-name>ProvaServlet</servlet-name>
		<url-pattern>/prova</url-pattern>
  </servlet-mapping>
   <servlet>
    	<servlet-name>Ping</servlet-name>
    	<servlet-class>es.caib.CursWeb.Ping</servlet-class>
 </servlet>
 <servlet-mapping>
 	    <servlet-name>Ping</servlet-name>
		<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>  
    <servlet-name>Initialize</servlet-name>  
    <servlet-class>es.caib.CursWeb.InitScheduler</servlet-class>  
    <load-on-startup>1</load-on-startup>  
  </servlet>
</web-app>